pkgbase = albear-bin
	pkgdesc = Local-only encrypted secrets manager: daemon, CLI, browser extension and desktop app
	pkgver = 0
	pkgrel = 1
	url = https://github.com/m7medVision/albear
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = curl
	makedepends = git
	makedepends = go
	makedepends = nodejs
	makedepends = npm
	makedepends = pnpm
	depends = glibc
	provides = albear
	conflicts = albear
	options = !strip
	options = !debug
	options = !lto
	source = albear::git+https://github.com/m7medVision/albear.git#branch=stable
	sha256sums = SKIP
	depends_x86_64 = alsa-lib
	depends_x86_64 = at-spi2-core
	depends_x86_64 = dbus
	depends_x86_64 = expat
	depends_x86_64 = gtk3
	depends_x86_64 = hicolor-icon-theme
	depends_x86_64 = libcups
	depends_x86_64 = libdrm
	depends_x86_64 = libnotify
	depends_x86_64 = libsecret
	depends_x86_64 = libxkbcommon
	depends_x86_64 = libxss
	depends_x86_64 = libxtst
	depends_x86_64 = mesa
	depends_x86_64 = nss
	depends_x86_64 = xdg-utils

pkgname = albear-bin
